# Default ignored files
/shelf/
/workspace.xml
# Machine-specific files (keep only codeStyles/ tracked)
/*.iml
/go.imports.xml
/modules.xml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
